#img {
    width: 400px; 
    height: 400px !important; 
    margin-top: 100px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5)
}
.card-body{
display: flex !important;
width: 50px;

}
.nav-item{
    color: pink!important;
}