/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
* {
    box-sizing: border-box;
  }
  .rejilla-ruta{
grid-template-columns: 1fr;

  }
  @media screen and (min-width: 460px) {
    .rejilla-ruta{
    grid-template-columns: 1fr 1fr;
  }
}