#btn1 {
  color: black;
  background-color: pink;
}

#nav1,
.navbar-toggler-icon,
.navbar-nav .nav-item {
  color: pink;
}

#navbarNav {
  padding: 0 20px !important;
  flex-basis: none !important;
}

.icon-user {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cont-logout {
  position: absolute;
  top: 40px;
  right: 0;
  width: 150px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  z-index: 2;
}

.cont-logout p {
  margin: 0;
}

.icon-user > p {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.profile {
  width: 85px;
}

.rec-password{
  text-align: end;
  font-size: 14px;
  margin: 0;
  margin-top: 10px;
  cursor: pointer;
}

.card{
  background-color: transparent;
  border: none;
}

.card p{
  margin: 0;
}

.card-body{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}